body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.header {
    background-color: #f26522;
    padding: 10px 0;
    text-align: center;
}

.header img {
    height: 50px;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    padding-bottom: 60px; /* Prevent overlap with footer */
}

h1 {
    color: #f26522;
    text-align: center;
    margin-bottom: 30px;
}

p, h2 {
    margin-bottom: 15px;
}

.footer {
    background-color: #f26522;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }
}
